<div class="container-fluid mb-5" >
  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
    <h2>Sign Up</h2>
    <div class="form-group">
      <label>Name</label>
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input class="form-control" #name="ngModel" required [class.is-invalid]="name.invalid && name.touched"
             [class.alert-danger]="name.invalid && name.touched" type="text" name="Username" [(ngModel)]="userModel2.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required</small>
    </div>


    <div class="form-group">
      <label>E-mail</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel2.email"
             #email="ngModel" required  [class.alert-danger]="email.invalid && email.touched" >
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" #phone="ngModel" required pattern="^\d{10}$"  [class.is-invalid]="phone.invalid && phone.touched"
             [class.alert-danger]="phone.invalid && phone.touched"
             class="form-control" name="phone" [(ngModel)]="userModel2.phone">
      <!--       <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number must be 10 digits</small>-->
      <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
      </div>
    </div>

    <div class="form-group">
      <label>password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="userModel2.password"
             #password="ngModel" required  [class.alert-danger]="password.invalid && password.touched" >
    </div>

    <button [disabled]="userForm.form.invalid " class="btn btn-primary">Submit</button>
  </form>

  <div *ngIf="submitted" class="alert alert-primary container" >
    <h3>Logged In</h3>
  </div>

</div>
